%head
  %meta{:charset => 'utf-8'}
  %meta{:name => "robots", :content => "index, follow"}
  %meta{:name => "author", :content => "Softa"}
  = yield :meta_tags
  = csrf_meta_tag
  %title= "#{@title}#{' · ' if @title}#{current_site.name}"
  = stylesheet_link_tag 'application', :media => 'screen, projection'
  = favicon_link_tag( "sites/#{current_site.path}/favicon.ico", :rel => 'shortcut icon',  :type => "image/x-icon" )
  /[if lt IE 9]
    = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
  = javascript_include_tag "application"
  = render '/layouts/analytics'
  / = render "/sites/#{current_site.path}/uservoice"
